* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Karla", sans-serif;
}
main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 580px;
  min-height: 550px;
  margin: auto;
  border: 0.794239px solid #dbdef0;
  margin-top: 100px;
  padding: 30px 50px;
}
.startpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.title {
  font-weight: 700;
  font-size: 2.2rem;
  letter-spacing: -2px;
  color: #293264;
}
.desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #293264;
}

.question--container {
  display: flex;
  flex-direction: column;
  gap: 0.938rem;
  margin-top: 0.938rem;
}
.question--title {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  color: #293264;
}

.answer--container {
  display: flex;
  gap: 0.938rem;
}
.answer--elements {
  min-width: 4.375rem;
  min-height: 1.25rem;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 600;
  border: 1px solid #293264;
  border-radius: 8px;
  padding: 2px 8px;
  color: #293264;
  cursor: pointer;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.answer--selector {
  background-color: #d6dbf5;
  border: none;
}

.separator {
  border: 0.794239px solid #dbdef0;
  transform: rotate(-0.05deg);
}

.button--result {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
  margin-top: 1rem;
}

.button {
  width: 7.5rem;
  height: 2.188rem;
  background: #4d5b9e;
  border: none;
  border-radius: 0.625rem;

  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 0.875rem;
  color: #f5f7fb;
}

.result {
  font-weight: 700;
  font-size: 0.95rem;
  color: #293264;
}

/* loading bar animation */

.loading--overlay {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  z-index: 100;
  background-color: white;
  display: flex;
}

.loader {
  margin: auto;
  border: 20px solid #eaf0f6;
  border-radius: 50%;
  border-top: 20px solid #4d5b9e;
  width: 100px;
  height: 100px;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* -------------------------------------------------
Making webiste responsive */
@media screen and (max-width: 500px) {
  main {
    margin-top: 0px;
    padding: 20px 20px;
    border: none;
  }
  .startpage {
    margin-top: 80%;
  }
  .answer--container {
    flex-direction: column;
  }
  .question--title {
    font-size: 1.3rem;
  }
  .answer--elements {
    min-height: 1.8rem;
    font-size: 1.1rem;
  }
  .result {
    font-weight: 700;
    font-size: 1.05rem;
  }
  .loading--overlay{
    margin-top: 80%;
  }
}






